body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-container{
  height: 50%;
}

.home-cards {
  vertical-align: bottom;
  border-style: none;
  width: 15%;
  margin: 15px;
}