body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-container{
  height: 50%;
}

.home-cards {
  vertical-align: bottom;
  border-style: none;
  width: 15%;
  margin: 15px;
}

.middle-cards {
  vertical-align: middle;
  border-style: none;
  width: 15%;
  margin: 15px
}

.game-info{
  opacity: 0;
}
.log{
  position: absolute;
  width: 25%;
  height: 70px;
  right: 20%;
  z-index: 2;
  background-color: white;
  /* border: 1px solid black; */
  /* overflow-y: scroll; */
  
}
.log * {
  margin: 15px;
}